### EXP1a : internal validation

- In this EXP I choose 16 OK from COBRE and 17 fail, 17 maybe  from ADHD200 total of 50 subjects
- Pierre and I Rated them **2 times** each
- I'll compute kappa intra and inter rater

In [1]:
# Load library
import pandas as pd
import os
import numpy as np

In [2]:
# paths
path_root = "/media/yassinebha/database29/Drive"
path_qc = os.path.join(path_root,"QC_zooniverse/zooqc_internal_validation/EXP1a")

### Calculate Kappa intra rater
---------------------------------
** PIERRE **

In [3]:
# read CSV's
qc_pierre_1 = pd.read_csv(os.path.join(path_qc,"pierre/pierre_1/T0Rate_the_match_summary.csv"))
qc_pierre_2 = pd.read_csv(os.path.join(path_qc,"pierre/pierre_2/T0Rate_the_match_summary.csv"))

In [4]:
qc_pierre_1[["subject_id","most_likely"]].head()

   subject_id most_likely
0     5366785       Maybe
1     5366786          OK
2     5366788          OK
3     5366791          OK
4     5366793          OK

In [5]:
qc_pierre_2[["subject_id","most_likely"]].head()

   subject_id most_likely
0     5374209        Fail
1     5374210        Fail
2     5374212       Maybe
3     5374213        Fail
4     5374215          OK

In [6]:
# match SubjID with zooniverse ID for Pierre_1 and 2
zoo_id = pd.read_csv(os.path.join(path_qc,"brain-match-subjects_exp1a_raw.csv"))
zoo_id[["subject_id","id"]].head()

   subject_id        id
0     5366718  X0026002
1     5366720  X3848511
2     5366723  X3107623
3     5366724  X3433846
4     5366726  X3160561

In [7]:
# Add subject id Correspondance for Pierre_1
qc_pierre_1_id = pd.merge(qc_pierre_1,zoo_id[["subject_id","id"]], how = 'left', on = 'subject_id')
qc_pierre_1_id[["id","most_likely","subject_id"]].head()

          id most_likely  subject_id
0  SZ0040029       Maybe     5366785
1  SZ0040039          OK     5366786
2  SZ0040042          OK     5366788
3  SZ0040044          OK     5366791
4  SZ0040046          OK     5366793

In [8]:
# Add subject id Correspondance for Pierre_2
qc_pierre_2_id = pd.merge(qc_pierre_2,zoo_id[["subject_id","id"]], how = 'left', on = 'subject_id')
qc_pierre_2_id[["id","most_likely","subject_id"]].head()

         id most_likely  subject_id
0  X2907383        Fail     5374209
1  X2559559        Fail     5374210
2  X3515506       Maybe     5374212
3  X2232376        Fail     5374213
4  X3912996          OK     5374215

In [33]:
# Merge Pierre_1 and 2
qc_pierre_1_2 = pd.merge(qc_pierre_1_id[["id","most_likely"]],
                         qc_pierre_2_id[["id","most_likely"]], 
                         how = 'left', on = "id")
qc_pierre_1_2.loc[:,"rating_match_pierre"] = [ row["most_likely_x"] == row["most_likely_y"] for ind,row in qc_pierre_1_2.iterrows()]
qc_pierre_1_2

           id most_likely_x most_likely_y rating_match_pierre
0   SZ0040029         Maybe            OK               False
1   SZ0040039            OK            OK                True
2   SZ0040042            OK            OK                True
3   SZ0040044            OK            OK                True
4   SZ0040046            OK            OK                True
5   SZ0040049            OK            OK                True
6   SZ0040064            OK            OK                True
7   SZ0040072            OK            OK                True
8   SZ0040075            OK            OK                True
9   SZ0040077            OK            OK                True
10  SZ0040080            OK            OK                True
11   X0026002         Maybe         Maybe                True
12   X3848511         Maybe         Maybe                True
13   X3107623            OK            OK                True
14   X3433846         Maybe         Maybe                True
15   X3160561         Maybe         Maybe                True
16   X3163200            OK         Maybe               False
17   X2876903         Maybe         Maybe                True
18   X2768273          Fail          Fail                True
19   X2409220         Maybe          Fail               False
20   X1536593          Fail          Fail                True
21   X0010045            OK         Maybe               False
22   X0010049         Maybe         Maybe                True
23   X3051944         Maybe         Maybe                True
24   X2907383          Fail          Fail                True
25   X2559559         Maybe          Fail               False
26   X3515506         Maybe         Maybe                True
27   X2232376          Fail          Fail                True
28   X3912996            OK            OK                True
29   X0010003          Fail          Fail                True
30   X0010013          Fail          Fail                True
31   X0010032          Fail          Fail                True
32   X0010067          Fail          Fail                True
33   X0021014          Fail          Fail                True
34   X0021037          Fail          Fail                True
35   X0021046          Fail          Fail                True
36   X1435954          Fail          Fail                True
37   X2136051          Fail          Fail                True
38   X2854839          Fail          Fail                True
39   X3662296          Fail          Fail                True
40   X8415034          Fail          Fail                True
41   X9750701          Fail          Fail                True
42   X3322144          Fail          Fail                True
43   X1743472          Fail          Fail                True
44   X3560456          Fail          Fail                True
45  SZ0040005            OK            OK                True
46  SZ0040007            OK            OK                True
47  SZ0040011            OK            OK                True
48  SZ0040016            OK         Maybe               False
49  SZ0040021            OK            OK                True

In [36]:
# save pierre's rating to variable for later saving
df_save_pierre = qc_pierre_1_2[['id','most_likely_x','most_likely_y']].rename(columns={'id':'ID','most_likely_x':'rating_pierre_1','most_likely_y':'rating_pierre_2'})
df_save_pierre.head()

          ID rating_pierre_1 rating_pierre_2
0  SZ0040029           Maybe              OK
1  SZ0040039              OK              OK
2  SZ0040042              OK              OK
3  SZ0040044              OK              OK
4  SZ0040046              OK              OK

In [11]:
# number of mismatch intra rater
50 - np.sum(qc_pierre_1_2["rating_match_pierre"])

6

In [12]:
# Replace OK:1 , Maybe:2 and Fail:3
qc_pierre_1_2.replace({'OK':1,'Maybe':2, 'Fail':3}, inplace=True)
qc_pierre_1_2.head()

          id  most_likely_x  most_likely_y rating_match_pierre
0  SZ0040029              2              1               False
1  SZ0040039              1              1                True
2  SZ0040042              1              1                True
3  SZ0040044              1              1                True
4  SZ0040046              1              1                True

In [14]:
# Calculate kappa for pierre 1 and 2
from sklearn import metrics
kappa = metrics.cohen_kappa_score(qc_pierre_1_2[['most_likely_x']],qc_pierre_1_2[['most_likely_y']])
print("The kappa for Pierre is %f " %(kappa))

The kappa for Pierre is 0.814356

### Calculate Kappa intra rater
------------------------------
** YASSINE **

In [15]:
# read CSV's
qc_yassine_summary = pd.read_csv(os.path.join(path_qc,"yassine/T0Rate_the_match_summary.csv"))
qc_yassine_detail =  pd.read_csv(os.path.join(path_qc,"yassine/T0Rate_the_match.csv"))

In [16]:
qc_yassine_summary.head()

,subject_id,most_likely,p(most_likely),shannon_entropy,mean_agreement,median_agreement,num_users
0,5368073,Maybe,1.0,-0.0,1.0,1.0,2
1,5368079,OK,1.0,-0.0,1.0,1.0,2
2,5368104,Fail,1.0,-0.0,1.0,1.0,2
3,5368105,Fail,1.0,-0.0,1.0,1.0,2
4,5368108,Fail,1.0,-0.0,1.0,1.0,2

In [17]:
qc_yassine_detail.head()

   subject_id  p(OK)  p(Maybe)  p(Fail)  num_users
0     5368073    0.0       1.0      0.0          2
1     5368079    1.0       0.0      0.0          2
2     5368104    0.0       0.0      1.0          2
3     5368105    0.0       0.0      1.0          2
4     5368108    0.0       0.0      1.0          2

In [18]:
# Merge summary and detail for yassine
qc_yassine_raw = pd.merge(qc_yassine_summary,qc_yassine_detail, how = 'left', on = 'subject_id')
qc_yassine = qc_yassine_raw [["subject_id","most_likely","p(OK)","p(Maybe)","p(Fail)"]]
qc_yassine

    subject_id most_likely  p(OK)  p(Maybe)  p(Fail)
0      5368073       Maybe    0.0       1.0      0.0
1      5368079          OK    1.0       0.0      0.0
2      5368104        Fail    0.0       0.0      1.0
3      5368105        Fail    0.0       0.0      1.0
4      5368108        Fail    0.0       0.0      1.0
5      5368109        Fail    0.0       0.0      1.0
6      5368137          OK    1.0       0.0      0.0
7      5368140          OK    1.0       0.0      0.0
8      5368142          OK    1.0       0.0      0.0
9      5368144          OK    1.0       0.0      0.0
10     5368147          OK    1.0       0.0      0.0
11     5368059       Maybe    0.0       1.0      0.0
12     5368064       Maybe    0.0       1.0      0.0
13     5368067       Maybe    0.0       1.0      0.0
14     5368069       Maybe    0.5       0.5      0.0
15     5368070       Maybe    0.0       1.0      0.0
16     5368072        Fail    0.0       0.0      1.0
17     5368075       Maybe    0.0       1.0      0.0
18     5368076       Maybe    0.0       1.0      0.0
19     5368077       Maybe    0.0       0.5      0.5
20     5368081        Fail    0.0       0.0      1.0
21     5368083       Maybe    0.0       1.0      0.0
22     5368084       Maybe    0.0       1.0      0.0
23     5368086        Fail    0.0       0.0      1.0
24     5368088          OK    1.0       0.0      0.0
25     5368089        Fail    0.0       0.0      1.0
26     5368091        Fail    0.0       0.0      1.0
27     5368092        Fail    0.0       0.0      1.0
28     5368094        Fail    0.0       0.0      1.0
29     5368095        Fail    0.0       0.0      1.0
30     5368098        Fail    0.0       0.0      1.0
31     5368100        Fail    0.0       0.0      1.0
32     5368101        Fail    0.0       0.0      1.0
33     5368102        Fail    0.0       0.0      1.0
34     5368112       Maybe    0.0       1.0      0.0
35     5368114        Fail    0.0       0.0      1.0
36     5368115        Fail    0.0       0.0      1.0
37     5368117          OK    1.0       0.0      0.0
38     5368119          OK    1.0       0.0      0.0
39     5368121          OK    1.0       0.0      0.0
40     5368123          OK    1.0       0.0      0.0
41     5368125          OK    1.0       0.0      0.0
42     5368126          OK    1.0       0.0      0.0
43     5368128          OK    1.0       0.0      0.0
44     5368131          OK    1.0       0.0      0.0
45     5368133          OK    1.0       0.0      0.0
46     5368134          OK    1.0       0.0      0.0
47     5368136          OK    1.0       0.0      0.0
48     5368061       Maybe    0.0       1.0      0.0
49     5368063          OK    1.0       0.0      0.0

In [22]:
# number of mismatch intra rater
np.sum(qc_yassine[["p(OK)","p(Maybe)","p(Fail)"]].isin([0.5]))

p(OK)       1
p(Maybe)    2
p(Fail)     1
dtype: int64

### Calculate Kappa inter-rater
------------------------------
** PIERRE VS YASSINE **

In [23]:
# Add subject id Correspondance for yassine
qc_yassine_id = pd.merge(qc_yassine,zoo_id[["subject_id","id"]], how = 'left', on = 'subject_id')
qc_yassine_id.head()

   subject_id most_likely  p(OK)  p(Maybe)  p(Fail)        id
0     5368073       Maybe    0.0       1.0      0.0  X2409220
1     5368079          OK    1.0       0.0      0.0  X3051944
2     5368104        Fail    0.0       0.0      1.0  X2854839
3     5368105        Fail    0.0       0.0      1.0  X3662296
4     5368108        Fail    0.0       0.0      1.0  X8415034

In [26]:
# merge Pierre and Yassine 
qc_pieyass = pd.merge(qc_pierre_1_2,qc_yassine_id, how = 'left', on = 'id')
qc_pieyass

,id,most_likely_x,most_likely_y,rating_match_pierre,subject_id,most_likely,p(OK),p(Maybe),p(Fail)
0,SZ0040029,2,1,False,5368126,OK,1.0,0.0,0.0
1,SZ0040039,1,1,True,5368128,OK,1.0,0.0,0.0
2,SZ0040042,1,1,True,5368131,OK,1.0,0.0,0.0
3,SZ0040044,1,1,True,5368133,OK,1.0,0.0,0.0
4,SZ0040046,1,1,True,5368134,OK,1.0,0.0,0.0
5,SZ0040049,1,1,True,5368136,OK,1.0,0.0,0.0
6,SZ0040064,1,1,True,5368137,OK,1.0,0.0,0.0
7,SZ0040072,1,1,True,5368140,OK,1.0,0.0,0.0
8,SZ0040075,1,1,True,5368142,OK,1.0,0.0,0.0
9,SZ0040077,1,1,True,5368144,OK,1.0,0.0,0.0
10,SZ0040080,1,1,True,5368147,OK,1.0,0.0,0.0
11,X0026002,2,2,True,5368059,Maybe,0.0,1.0,0.0
12,X3848511,2,2,True,5368061,Maybe,0.0,1.0,0.0
13,X3107623,1,1,True,5368063,OK,1.0,0.0,0.0
14,X3433846,2,2,True,5368064,Maybe,0.0,1.0,0.0
15,X3160561,2,2,True,5368067,Maybe,0.0,1.0,0.0
16,X3163200,1,2,False,5368069,Maybe,0.5,0.5,0.0
17,X2876903,2,2,True,5368070,Maybe,0.0,1.0,0.0
18,X2768273,3,3,True,5368072,Fail,0.0,0.0,1.0
19,X2409220,2,3,False,5368073,Maybe,0.0,1.0,0.0
20,X1536593,3,3,True,5368075,Maybe,0.0,1.0,0.0
21,X0010045,1,2,False,5368076,Maybe,0.0,1.0,0.0
22,X0010049,2,2,True,5368077,Maybe,0.0,0.5,0.5
23,X3051944,2,2,True,5368079,OK,1.0,0.0,0.0
24,X2907383,3,3,True,5368081,Fail,0.0,0.0,1.0
25,X2559559,2,3,False,5368083,Maybe,0.0,1.0,0.0
26,X3515506,2,2,True,5368084,Maybe,0.0,1.0,0.0
27,X2232376,3,3,True,5368086,Fail,0.0,0.0,1.0
28,X3912996,1,1,True,5368088,OK,1.0,0.0,0.0
29,X0010003,3,3,True,5368089,Fail,0.0,0.0,1.0
30,X0010013,3,3,True,5368091,Fail,0.0,0.0,1.0
31,X0010032,3,3,True,5368092,Fail,0.0,0.0,1.0
32,X0010067,3,3,True,5368094,Fail,0.0,0.0,1.0
33,X0021014,3,3,True,5368095,Fail,0.0,0.0,1.0
34,X0021037,3,3,True,5368098,Fail,0.0,0.0,1.0
35,X0021046,3,3,True,5368100,Fail,0.0,0.0,1.0
36,X1435954,3,3,True,5368101,Fail,0.0,0.0,1.0
37,X2136051,3,3,True,5368102,Fail,0.0,0.0,1.0
38,X2854839,3,3,True,5368104,Fail,0.0,0.0,1.0
39,X3662296,3,3,True,5368105,Fail,0.0,0.0,1.0
40,X8415034,3,3,True,5368108,Fail,0.0,0.0,1.0
41,X9750701,3,3,True,5368109,Fail,0.0,0.0,1.0
42,X3322144,3,3,True,5368112,Maybe,0.0,1.0,0.0
43,X1743472,3,3,True,5368114,Fail,0.0,0.0,1.0
44,X3560456,3,3,True,5368115,Fail,0.0,0.0,1.0
45,SZ0040005,1,1,True,5368117,OK,1.0,0.0,0.0
46,SZ0040007,1,1,True,5368119,OK,1.0,0.0,0.0
47,SZ0040011,1,1,True,5368121,OK,1.0,0.0,0.0
48,SZ0040016,1,2,False,5368123,OK,1.0,0.0,0.0
49,SZ0040021,1,1,True,5368125,OK,1.0,0.0,0.0

In [54]:
# Save final csv
df_save_yassine = qc_pieyass[['id','most_likely']].rename(columns={'id':'ID','most_likely':'rating_yassine'})
df_save_yassine.head()
df_save_final = pd.merge(df_save_yassine,df_save_pierre,how = 'left', on = 'ID')
df_save_final.to_csv(os.path.join(path_root,"QC_zooniverse/brainhack2017/Bainhack_validation/pierre_yass_classification.csv"), index=False)
df_save_final.head()

          ID rating_yassine rating_pierre_1 rating_pierre_2
0  SZ0040029             OK           Maybe              OK
1  SZ0040039             OK              OK              OK
2  SZ0040042             OK              OK              OK
3  SZ0040044             OK              OK              OK
4  SZ0040046             OK              OK              OK

In [25]:
# Replace OK:1 , Maybe:2 and Fail:3
qc_pieyass.replace({'OK':1,'Maybe':2, 'Fail':3}, inplace=True)

In [26]:
## first pierre's rating vs yassine
kappa = metrics.cohen_kappa_score(qc_pieyass[['most_likely_x']],qc_pieyass[['most_likely']])
print("The kappa for Pierre first rating vs yassine is %f " %(kappa))

The kappa for Pierre first rating vs yassine is 0.816626

In [27]:
## second pierre's rating vs yassine
kappa = metrics.cohen_kappa_score(qc_pieyass[['most_likely_y']],qc_pieyass[['most_likely']])
print("The kappa for Pierre second rating vs yassine is %f " %(kappa))

The kappa for Pierre second rating vs yassine is 0.816850